<!DOCTYPE html>
<html>

<head>
    <title>Tic Tac Toe | Haziq Hapiz</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
</head>

<body>
    <div id="msgcontainer" style="height:500px;background:#eee;overflow-y: auto;"></div>
    <div style="overflow: hidden;">
        <input id="ipt" style="width: 100%; padding: 10px;" onkeypress="mysocket.keypress(event)" type="text" />
    </div>

    <script>
        const WEBSOCKET_URL = "{{.WebSocketUrl}}"; // Go template placeholder
    </script>
    <script src="/js/mysocket.js"></script>
    <script>
        var mysocket = new MySocket();
        mysocket.connectSocket();
    </script>
</body>

</html>